<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>base_url</key>
	<string>http://27.118.16.206/</string>
	<key>date_format</key>
	<string></string>
	<key>timezone</key>
	<string></string>
</dict>
</plist>
